.c-image {
  height: 100%;
}
.c-item {
  height: 480px;
  object-fit: cover;
  filter: brightness(0.6);
}
h1 {
  font-size: 4rem;
  filter: brightness(100%);
  color: white;
}
p {
  font-size: 2rem;
}
